:root {
  --background: #fbfdff;
  --text: #1d1d24;
  --accents: #009ab4;
  --extra: #e3007f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d24;
    --text: #fbfdff;
  }
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "sans";
}

.underscore {
  text-decoration: underline;
  text-decoration-color: var(--accents);
  text-decoration-style: wavy;
}

a {
  color: var(--text);
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--accents);
}

a:hover {
  text-decoration-color: var(--extra);
}

body,
.flex {
  display: flex;
}

body {
  flex-flow: column nowrap;
  align-items: center;
}

nav {
  height: fit-content;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

main {
  width: min(900px, 95vw);
}

main .flex {
  justify-content: space-between;
}